# Додаткове завдання з pandas
Вітаю! В цьому завданні будемо працювати з даними з опитування щодо зарплат ІТ спеціалістів на рексурсі DOU від грудня 2022 року. Впевнена, це буде цікаве дослідження, а заразом і практика pandas :)
Цей аналіз може бути корисним людині, яка обирає напрям роботи в ІТ і хоче зрозуміти тенденції. За якісного виконання цього аналізу, цей проєкт можна сміливо додавати у Ваше портфоліо!

1. Зчитайте дані з файлу `2022_dec_raw.csv`. Увага! Тут необхідно використати аргумент `pd.read_csv` `sep=';'`, бо розділювач в даних - крапка з комою.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/2022_dec_raw.csv', sep=';')

2. Які колонки мають дані?

In [4]:
display(df.columns, df.head())

Index(['Timestamp', 'Ви працюєте зараз в ІТ?', 'Де ви зараз живете? ',
       'В якій області ви зараз живете?',
       'Зарплата у $$$ за місяць, лише ставка після сплати податків',
       'Ваша стать', 'Ваш вік', 'Яка у вас освіта?',
       'Чи є у вас науковий ступінь? ', 'Знання англійської мови',
       'Оберіть вашу посаду', 'Ваш тайтл', 'Ваша спеціалізація',
       'Вкажіть вашу спеціалізацію', 'Оберіть вашу спеціалізацію',
       'Ваша посада', 'Оберіть вашу посаду2', 'Ваша посада3', 'Ваша посада4',
       'Ваша посада5', 'Ваша посада6', 'Ваша посада7',
       'Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?',
       'Основна мова програмування', 'Вкажіть вашу основну спеціалізацію',
       'В якій сфері працюєте?', 'Тип компанії',
       'Загальний стаж роботи за спеціальністю'],
      dtype='object')

,Timestamp,Ви працюєте зараз в ІТ?,Де ви зараз живете?,В якій області ви зараз живете?,"Зарплата у $$$ за місяць, лише ставка після сплати податків",Ваша стать,Ваш вік,Яка у вас освіта?,Чи є у вас науковий ступінь?,Знання англійської мови,...,Ваша посада4,Ваша посада5,Ваша посада6,Ваша посада7,Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?,Основна мова програмування,Вкажіть вашу основну спеціалізацію,В якій сфері працюєте?,Тип компанії,Загальний стаж роботи за спеціальністю
0,11.30.2022 10:26:37,"Так, працюю part-time",В Україні,Івано-Франківськ чи область,4000,Чоловік,29,"Вища (бакалавр, спеціаліст, магістр)",Немає,Intermediate,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Blockchain,Стартап,8 років
1,11.30.2022 10:26:39,"Так, працюю full-time","За кордоном (переїхали через війну, але планую...",NaN,NaN,Чоловік,36,"Вища (бакалавр, спеціаліст, магістр)",Немає,Advanced,...,NaN,NaN,NaN,NaN,NaN,Ruby,Full Stack розробка,Public services / Government,Продуктова,3 роки
2,11.30.2022 10:26:58,"Так, працюю full-time",В Україні,Київ чи область,2500,Чоловік,34,"Вища (бакалавр, спеціаліст, магістр)",Немає,Elementary,...,NaN,NaN,NaN,NaN,NaN,C# / .NET,Full Stack розробка,"Adtech / Advertising, Security, Telecom",Продуктова,4 роки
3,11.30.2022 10:27:31,"Так, працюю full-time",В Україні,Львів чи область,500,Жінка,23,"Вища (бакалавр, спеціаліст, магістр)",Немає,Pre-Intermediate,...,NaN,NaN,NaN,NaN,"Ні, не використовую",NaN,NaN,Telecom,Продуктова,Пів року
4,11.30.2022 10:27:34,"Ні, тимчасово не працюю",В Україні,Житомир чи область,2800,Жінка,33,"Вища (бакалавр, спеціаліст, магістр)",Немає,Upper-Intermediate,...,NaN,NaN,NaN,NaN,"Ні, не використовую",NaN,NaN,Automotive,Продуктова,6 років

3. Скільки рядків та колонок мають дані? Скільки пропущених значень має кожна з колонок?

In [5]:
display(df.shape, df.isnull().sum())

(13315, 28)

Timestamp                                                                         0
Ви працюєте зараз в ІТ?                                                           0
Де ви зараз живете?                                                               0
В якій області ви зараз живете?                                                1777
Зарплата у $$$ за місяць, лише ставка після сплати податків                      27
Ваша стать                                                                        0
Ваш вік                                                                           0
Яка у вас освіта?                                                                 0
Чи є у вас науковий ступінь?                                                    111
Знання англійської мови                                                           0
Оберіть вашу посаду                                                               0
Ваш тайтл                                                                         0
Ваша спеціалізація                                                            13156
Вкажіть вашу спеціалізацію                                                    10951
Оберіть вашу спеціалізацію                                                    12829
Ваша посада                                                                   13010
Оберіть вашу посаду2                                                          12755
Ваша посада3                                                                  12494
Ваша посада4                                                                  12830
Ваша посада5                                                                  13027
Ваша посада6                                                                  12962
Ваша посада7                                                                  13199
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?     8441
Основна мова програмування                                                     4255
Вкажіть вашу основну спеціалізацію                                             4256
В якій сфері працюєте?                                                            0
Тип компанії                                                                      0
Загальний стаж роботи за спеціальністю                                            0
dtype: int64

4. Які колонки мають всі значення заповненими (не мають дожного None значення)? Виведіть програмно список цих колонок.

In [7]:
columns_without_na = df.columns[df.notna().all()]
columns_without_na

Index(['Timestamp', 'Ви працюєте зараз в ІТ?', 'Де ви зараз живете? ',
       'Ваша стать', 'Ваш вік', 'Яка у вас освіта?', 'Знання англійської мови',
       'Оберіть вашу посаду', 'Ваш тайтл', 'В якій сфері працюєте?',
       'Тип компанії', 'Загальний стаж роботи за спеціальністю'],
      dtype='object')

5. Який тип мають колонки в наборі даних? Які з колонок типу object логічно на ваш погляд перетворити на числові колонки?

In [8]:
df.dtypes

Timestamp                                                                     object
Ви працюєте зараз в ІТ?                                                       object
Де ви зараз живете?                                                           object
В якій області ви зараз живете?                                               object
Зарплата у $$$ за місяць, лише ставка після сплати податків                   object
Ваша стать                                                                    object
Ваш вік                                                                       object
Яка у вас освіта?                                                             object
Чи є у вас науковий ступінь?                                                  object
Знання англійської мови                                                       object
Оберіть вашу посаду                                                           object
Ваш тайтл                                                                     object
Ваша спеціалізація                                                            object
Вкажіть вашу спеціалізацію                                                    object
Оберіть вашу спеціалізацію                                                    object
Ваша посада                                                                   object
Оберіть вашу посаду2                                                          object
Ваша посада3                                                                  object
Ваша посада4                                                                  object
Ваша посада5                                                                  object
Ваша посада6                                                                  object
Ваша посада7                                                                  object
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?    object
Основна мова програмування                                                    object
Вкажіть вашу основну спеціалізацію                                            object
В якій сфері працюєте?                                                        object
Тип компанії                                                                  object
Загальний стаж роботи за спеціальністю                                        object
dtype: object

Колонки "Зарплата у $ за місяць, лише ставка після сплати податків", "Загальний стаж роботи за спеціальністю" доцільно перетворити на числовий тип даних

6. Трансформуйте колонки 'Ваш вік', 'Зарплата у $$$ за місяць, лише ставка після сплати податків' у тип даних float. УВАГА! Перед трансформацією подивіться, які дані містять ці колонки. Аби успішно трансформувати тип даних, треба спочатку привести рядки до того виду, який буде підходити, аби потім рядок зробити типом float.

In [10]:
df['Зарплата у $$$ за місяць, лише ставка після сплати податків'] = (
    df['Зарплата у $$$ за місяць, лише ставка після сплати податків']
    .str.replace(',', '.').astype('float')
)
df['Ваш вік']=df['Ваш вік'].str.replace(',', '.').astype('float')

In [11]:
df.head(3)

,Timestamp,Ви працюєте зараз в ІТ?,Де ви зараз живете?,В якій області ви зараз живете?,"Зарплата у $$$ за місяць, лише ставка після сплати податків",Ваша стать,Ваш вік,Яка у вас освіта?,Чи є у вас науковий ступінь?,Знання англійської мови,...,Ваша посада4,Ваша посада5,Ваша посада6,Ваша посада7,Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?,Основна мова програмування,Вкажіть вашу основну спеціалізацію,В якій сфері працюєте?,Тип компанії,Загальний стаж роботи за спеціальністю
0,11.30.2022 10:26:37,"Так, працюю part-time",В Україні,Івано-Франківськ чи область,4000.0,Чоловік,29.0,"Вища (бакалавр, спеціаліст, магістр)",Немає,Intermediate,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Blockchain,Стартап,8 років
1,11.30.2022 10:26:39,"Так, працюю full-time","За кордоном (переїхали через війну, але планую...",NaN,NaN,Чоловік,36.0,"Вища (бакалавр, спеціаліст, магістр)",Немає,Advanced,...,NaN,NaN,NaN,NaN,NaN,Ruby,Full Stack розробка,Public services / Government,Продуктова,3 роки
2,11.30.2022 10:26:58,"Так, працюю full-time",В Україні,Київ чи область,2500.0,Чоловік,34.0,"Вища (бакалавр, спеціаліст, магістр)",Немає,Elementary,...,NaN,NaN,NaN,NaN,NaN,C# / .NET,Full Stack розробка,"Adtech / Advertising, Security, Telecom",Продуктова,4 роки

7. Це завдання з зірочкою! Нам треба транфсформувати колонку Timestamp у тип даних `datetime64[ns]`. Це не так просто як здається на першйий погляд :) Але це реальна ситуація, яка може трапитись при зборі даних в роботі аналітиком.
Я запропоную один зі способів виконати завдання, але ви можете написати по-своєму. Головне - отримати колонку - потрібного типу. 
Пропоную наступний алгоритм дій:
    1. Подивитись, які дані містяться в цій колонці. Виведіть перші і останні 5 записів. Чи однаковий формат цих даних? (спойлер: ні, бо інакше все було б просто :))
    2. Нам треба враховуючи різний формат даних перетворити рядок у колонці `Timestamp` на тип `datetime64[ns]`. Як це зробити? Для перетворення рядка на `datetime64` пропоную скористатись `datetime.datetime.strptime`.
    Для цього треба імпортувати бібліотеку `datetime`. Я пропоную написати функцію для обробки кожного окремого рядка, яка враховує довжину рядка і на основі цього застосовує різний формат даних дати.
    Як прописувати формат даних можна переглянути [тут](https://www.w3schools.com/python/python_datetime.asp).
    3. Коли функція для обробки кожного окремого рядка готова, застосуйте її для всіх даних з допомогою методу `apply`.

In [12]:
display(df['Timestamp'].head())
display(df['Timestamp'].tail())

0    11.30.2022 10:26:37
1    11.30.2022 10:26:39
2    11.30.2022 10:26:58
3    11.30.2022 10:27:31
4    11.30.2022 10:27:34
Name: Timestamp, dtype: object

13310    01.09.2023 11:01
13311    01.09.2023 11:14
13312    01.09.2023 11:19
13313    01.09.2023 11:28
13314    01.09.2023 11:38
Name: Timestamp, dtype: object

In [13]:
from datetime import datetime

def date_func(time_raw):
    date_format1 = "%m.%d.%Y %H:%M:%S"
    date_format2 = "%m.%d.%Y %H:%M"
    
    if len(time_raw) == 19:
        result_time = datetime.strptime(time_raw, date_format1)
        return result_time
    elif len(time_raw) == 16:
        result_time = datetime.strptime(time_raw, date_format2)
        return result_time
        
df['New_date'] = df['Timestamp'].apply(date_func)

In [14]:
display(df['New_date'].head())
display(df['New_date'].tail())

0   2022-11-30 10:26:37
1   2022-11-30 10:26:39
2   2022-11-30 10:26:58
3   2022-11-30 10:27:31
4   2022-11-30 10:27:34
Name: New_date, dtype: datetime64[ns]

13310   2023-01-09 11:01:00
13311   2023-01-09 11:14:00
13312   2023-01-09 11:19:00
13313   2023-01-09 11:28:00
13314   2023-01-09 11:38:00
Name: New_date, dtype: datetime64[ns]

8. Для колонок типу даних object (які такими лишились після всіх наших трансформацій) виведіть кількість унікальних значень.

In [15]:
df.select_dtypes(include=['object']).nunique()

Timestamp                                                                     10850
Ви працюєте зараз в ІТ?                                                           5
Де ви зараз живете?                                                               2
В якій області ви зараз живете?                                                  23
Ваша стать                                                                        2
Яка у вас освіта?                                                                 5
Чи є у вас науковий ступінь?                                                      3
Знання англійської мови                                                           5
Оберіть вашу посаду                                                              22
Ваш тайтл                                                                        10
Ваша спеціалізація                                                                8
Вкажіть вашу спеціалізацію                                                        4
Оберіть вашу спеціалізацію                                                       21
Ваша посада                                                                      15
Оберіть вашу посаду2                                                              7
Ваша посада3                                                                      7
Ваша посада4                                                                      5
Ваша посада5                                                                      6
Ваша посада6                                                                      2
Ваша посада7                                                                      4
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?        2
Основна мова програмування                                                       33
Вкажіть вашу основну спеціалізацію                                               12
В якій сфері працюєте?                                                         1768
Тип компанії                                                                      6
Загальний стаж роботи за спеціальністю                                           19
dtype: int64

9. Для колонок типу даних object виведіть топ 10 найбільш частих значень з кількістю рядків, в яких це значення зустрічається. Зробіть це для кожної колонки окремо. Наприклад, в циклі.  
Що цікавого бачите? Які висновки можна зробити? Що особисто Вас вразило?

In [15]:
object_col = df.select_dtypes(include=['object'])

for column in object_col:
    max_fr_val = object_col[column].value_counts()[:10]
    print(f"{column}, {max_fr_val}\n")

Timestamp, Timestamp
12.07.2022 12:54    29
12.07.2022 12:56    28
12.07.2022 12:57    25
12.07.2022 12:55    25
12.07.2022 12:58    24
12.07.2022 12:59    23
12.07.2022 13:01    19
12.07.2022 13:07    15
12.07.2022 13:00    15
12.07.2022 13:03    14
Name: count, dtype: int64

Ви працюєте зараз в ІТ?, Ви працюєте зараз в ІТ?
Так, працюю full-time      12643
Ні, тимчасово не працюю      380
Так, працюю part-time        152
Так, я фрилансер             115
Інше                          25
Name: count, dtype: int64

Де ви зараз живете? , Де ви зараз живете?
В Україні                                                      11587
За кордоном (переїхали через війну, але планую повернутися)     1728
Name: count, dtype: int64

В якій області ви зараз живете?, В якій області ви зараз живете?
Київ чи область                4411
Львів чи область               2353
Дніпро чи область               751
Івано-Франківськ чи область     478
Вінниця чи область              447
Одеса чи область                443
Харків чи область               355
Полтава чи область              252
Черкаси чи область              232
Хмельницький чи область         230
Name: count, dtype: int64

Ваша стать, Ваша стать
Чоловік    10221
Жінка       3094
Name: count, dtype: int64

Яка у вас освіта?, Яка у вас освіта?
Вища (бакалавр, спеціаліст, магістр)    10645
Дві вищі                                 1002
Ще студент вишу                           811
Середня                                   447
Середня спеціальна                        410
Name: count, dtype: int64

Чи є у вас науковий ступінь? , Чи є у вас науковий ступінь?
Немає                  12980
Кандидат наук / PhD      216
Доктор наук                8
Name: count, dtype: int64

Знання англійської мови, Знання англійської мови
Upper-Intermediate    5538
Intermediate          4475
Advanced              1622
Pre-Intermediate      1401
Elementary             279
Name: count, dtype: int64

Оберіть вашу посаду, Оберіть вашу посаду
Software Engineer (Junior, Middle, Senior, Team/Tech Lead, Architect)             6773
QA Engineer (Junior, Middle, Senior, Team/Tech Lead, Manager)                     2364
Project/Product/Program Manager, Product Owner, Scrum Master, Delivery Manager     821
HR/Recruiter                                                                       560
Designer / Artist (Graphic, UX/UI, Game, Artist, Sound etc.)                       486
Analyst (Business, Data, System)                                                   485
DevOps, SRE                                                                        353
Marketing, SEO, Copywriter                                                         305
Data Science, Machine Learning, Big Data                                           288
Game Developer / Programmer                                                        160
Name: count, dtype: int64

Ваш тайтл, Ваш тайтл
Middle            4710
Senior            3400
Junior            2316
Team Lead          883
Немає тайтлу       571
Tech Lead          430
Manager            375
Head               250
Intern/Trainee     240
Architect          140
Name: count, dtype: int64

Ваша спеціалізація, Ваша спеціалізація
Programmer                       89
Gameplay Programmer              42
Engine Programmer                 8
.NET Programmer                   6
Ul Programmer                     4
Rendering/Graphics Programmer     4
Al Programmer                     3
Інше                              3
Name: count, dtype: int64

Вкажіть вашу спеціалізацію, Вкажіть вашу спеціалізацію
Manual QA         1467
Automation QA      531
General QA         354
Performance QA      12
Name: count, dtype: int64

Оберіть вашу спеціалізацію, Оберіть вашу спеціалізацію
UI/UX Designer              201
Product Designer             60
3D Artist                    40
2D Artist                    35
Graphic / Video Designer     33
Game Designer                20
Designer                     15
Animator                     14
Other                        12
Web Designer                 11
Name: count, dtype: int64

Ваша посада, Ваша посада
Other                            44
Marketing Manager                44
SEO Specialist                   34
Digital Marketing Manager        33
Copywriter                       27
Chief Marketing Officer (CMO)    22
Employer Brand Manager           20
SMM Manager                      20
PR Manager                       16
Product Marketing Manager        11
Name: count, dtype: int64

Оберіть вашу посаду2, Оберіть вашу посаду2
Recruiter                             201
HR Manager                            131
Talent Acquisition Manager             52
Talent Researcher/Sourcer              51
HR Director                            45
HR Business Partner                    40
People partner / Happiness manager     40
Name: count, dtype: int64

Ваша посада3, Ваша посада3
Project Manager     443
Product Manager     135
Delivery Manager     88
Product Owner        67
Scrum Master         42
Program Manager      29
Business Manager     17
Name: count, dtype: int64

Ваша посада4, Ваша посада4
Business Analyst    289
Data Analyst        106
Product Analyst      34
System Analyst       32
BI Analyst           24
Name: count, dtype: int64

Ваша посада5, Ваша посада5
Data Engineer / Big Data Engineer    104
Data Scientist                        93
Machine Learning Engineer             46
Computer Vision Engineer              21
Research Engineer                     15
BI Engineer                            9
Name: count, dtype: int64

Ваша посада6, Ваша посада6
DevOps Engineer              325
Site Reliability Engineer     28
Name: count, dtype: int64

Ваша посада7, Ваша посада7
CTO                        41
Director of Engineering    33
CEO, (co-) founder         28
Program Director           14
Name: count, dtype: int64

Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?, Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?
Ні, не використовую    2754
Так, використовую      2120
Name: count, dtype: int64

Основна мова програмування, Основна мова програмування
JavaScript    1695
Java          1241
Python        1190
TypeScript    1179
C# / .NET     1179
PHP            627
Kotlin         286
C++            251
Swift          221
SQL            201
Name: count, dtype: int64

Вкажіть вашу основну спеціалізацію, Вкажіть вашу основну спеціалізацію
Back-end  розробка               2847
Full Stack розробка              1628
Front-end  розробка              1628
QA                               1079
Mobile  розробка                  665
Робота з даними, аналіз даних     558
DevOps                            308
Інше                              293
Embedded                           49
embedded                            2
Name: count, dtype: int64

В якій сфері працюєте?, В якій сфері працюєте?
Інша                    1445
E-commerce              1243
Fintech / Banking        942
Medtech / Healthcare     547
GameDev                  449
Gambling                 352
Edtech / Education       250
Telecom                  232
Mobile                   200
Adtech / Advertising     193
Name: count, dtype: int64

Тип компанії, Тип компанії
Аутсорсингова    5593
Продуктова       4940
Аутстафінгова    1767
Стартап           539
Інша              355
Фріланс           121
Name: count, dtype: int64

Загальний стаж роботи за спеціальністю, Загальний стаж роботи за спеціальністю
3 роки               1608
4 роки               1447
2 роки               1427
5 років              1351
1,5 року             1056
6 років               982
1 рік                 922
7 років               791
10 років              599
15 і більше років     586
Name: count, dtype: int64

Ціквивими є наступні спостереження серед фахівців, що надали відповідь:  
- Переважна більшість фахівців мають full-time зайнятість
- Найбільше фахівців знаходяться у Київській області, також багато фахвців у Львівській
- Чоловіків втричі більше ніж жінок
- Переважна більшість фахівців мають вищу освіту, деякі навіть дві
- Більша половина фахівців (57 %) не використовують в своїй роботі будь-яку мову програмування

10. Виведіть медіанну (медіана - це значення, менше якого є рівно 50% вибірки і більше якого є теж рівно 50% вибірки)
ЗП (Зарплата у $$$) для кожного рівня знання англійської. Які висновки можна зробити?

In [24]:
(
    df.groupby('Знання англійської мови')['Зарплата у $$$ за місяць, лише ставка після сплати податків']
    .median().sort_values(ascending=False)
)

Знання англійської мови
Advanced              3500.0
Upper-Intermediate    3300.0
Intermediate          2125.0
Pre-Intermediate      1404.0
Elementary            1155.0
Name: Зарплата у $$$ за місяць, лише ставка після сплати податків, dtype: float64

Рівень зарплатні прямо пропорційно корелює з рівнем знання англійської мови

11. Є така штука як сортування значень категоріальної змінної. Нам це зараз стане в нагоді, адже рівні англійської можна посортувати. 
Давайте відсотруємо рівні англ. і тайтли. Просто запустіть код нижче і проаналізуйте, що він робить.

In [25]:
df['Знання англійської мови'] = pd.Categorical(df['Знання англійської мови'], 
                      categories=['Elementary','Pre-Intermediate','Intermediate','Upper-Intermediate','Advanced'],
                      ordered=True)

df['Ваш тайтл'] = pd.Categorical(df['Ваш тайтл'], 
                      categories=['Intern/Trainee', 'Junior', 'Немає тайтлу', 'Middle', 'Senior', 'Tech Lead', 'Team Lead', 'Architect', 'Head', 'Manager'],
                      ordered=True)

12. Зробіть зводну таблицю, де стовпці - це 'Ваш тайтл', рядки - 'Знання англійської мови', а значення - медіанна ЗП. Які висновки можна зробити?
Тут ще для зручності можна зробити градієнтне забарвлення і відформатувати значення для легшого перегляду.

In [26]:
pivot_title_eng = df.pivot_table(values=['Зарплата у $$$ за місяць, лише ставка після сплати податків'],
                   index=['Знання англійської мови'],
                   columns=['Ваш тайтл'],
                   aggfunc='median')

In [27]:
pivot_title_eng.style.background_gradient().format('{:.0f}')

Не залежно від тайтлу найвища заробітна плата у фахівців з просунутим рівнем англійської. 
На позиціях junior, middle, senior немає різниці в зарплатні на рівнях володіння англійською upper-intermediate та advanced

13. Виведіть результат методу describe() для топ 5 за частотою зустрічання в даних областей (В якій області ви зараз живете?). Зробіть висновки, де вигідніше жити з точки зору ЗП і чи суттєва різниця на Ваш погляд для прийняття рішення про переїзд?

In [28]:
(
    df.groupby('В якій області ви зараз живете?')
    ['Зарплата у $$$ за місяць, лише ставка після сплати податків']
    .describe()
    .sort_values(by="count", ascending=False)
    .head(5)
)

,count,mean,std,min,25%,50%,75%,max
В якій області ви зараз живете?,,,,,,,,
Київ чи область,4411.0,3141.810209,2039.859712,80.0,1500.0,2800.0,4500.0,16000.0
Львів чи область,2353.0,3121.441751,2102.721295,150.0,1375.0,2700.0,4500.0,14000.0
Дніпро чи область,751.0,2582.584554,1864.711284,100.0,1025.0,2000.0,3600.0,12000.0
Івано-Франківськ чи область,478.0,2705.257322,1905.673385,200.0,1200.0,2372.5,3775.0,12436.0
Вінниця чи область,447.0,2888.306085,1902.668331,100.0,1300.0,2612.0,4100.0,11675.0

З точки зору зарплатні вигідніше жити у Київській області

14. Як зростає зарплата з роками? Для цього нам треба відформатувати колонку "Загальний стаж роботи за спеціальністю" аналогічно до того, як ми це робили для колонки 'Знання англійської мови' і потім вивести медіанні значення для кількості років стажу.

In [29]:
df['Загальний стаж роботи за спеціальністю']=pd.Categorical(df['Загальний стаж роботи за спеціальністю'],
                                        categories=['Менше як 3 місяці','3 місяці', 'Пів року','1 рік', '1,5 року',
                                                    '2 роки', '3 роки','4 роки','5 років','6 років',
                                                    '7 років', '8 років','9 років','10 років','11 років', 
                                                    '12 років','13 років','14 років', '15 і більше років'], ordered=True)

In [30]:
(
    df.groupby('Загальний стаж роботи за спеціальністю', observed=False)
    ['Зарплата у $$$ за місяць, лише ставка після сплати податків'].median()
)

Загальний стаж роботи за спеціальністю
Менше як 3 місяці     800.0
3 місяці              525.0
Пів року              700.0
1 рік                 950.0
1,5 року             1200.0
2 роки               1700.0
3 роки               2450.0
4 роки               3000.0
5 років              3500.0
6 років              4000.0
7 років              4250.0
8 років              4700.0
9 років              4500.0
10 років             4600.0
11 років             5000.0
12 років             4750.0
13 років             4500.0
14 років             5050.0
15 і більше років    4500.0
Name: Зарплата у $$$ за місяць, лише ставка після сплати податків, dtype: float64

Зарплата прямо пропорційно зростає від 1 до 8 років досвіду.
З 9 до 15 ф більше зарплата ще може трохи зростати з коливаннями

Далі тут можна зробити багато аналогічних агрегацій, проаналізувати, в який час люди заповнювали форму, хто більше отримує, Business Analyst, чи Data Analyst. Я вас заохочувати не стримувати свій інтерес і покапати ці дані далі :)

 Чи відрізняється медіанна зарплата чоловікв та жінок в залежності від тайтлу?

In [31]:
pivot_salary_by_gender = df.pivot_table(values=['Зарплата у $$$ за місяць, лише ставка після сплати податків'],
                   index=['Ваша стать'],
                   columns=['Ваш тайтл'],
                   aggfunc={'Зарплата у $$$ за місяць, лише ставка після сплати податків': 'median'})
pivot_salary_by_gender.style.background_gradient().format('{:.0f}')

Загалом чоловіки отрумують вищі зарплатні. Але тут варто було б також розглянути рівень зарплатні детальшіше по посадам

Порівняти зарплати в сфері дизайну, маркетингу, а також напрямки роботи за даними. Які медіанні зарплати для різниї позицій в цих сферах.

In [36]:
df['Оберіть вашу посаду'].unique()

array(['Designer / Artist (Graphic, UX/UI, Game, Artist, Sound etc.)',
       'Software Engineer (Junior, Middle, Senior, Team/Tech Lead, Architect)',
       'QA Engineer (Junior, Middle, Senior, Team/Tech Lead, Manager)',
       'Data Science, Machine Learning, Big Data',
       'Analyst (Business, Data, System)', 'Sales Manager', 'HTML Coder',
       'Game Developer / Programmer',
       'Project/Product/Program Manager, Product Owner, Scrum Master, Delivery Manager',
       'DevOps, SRE', 'Marketing, SEO, Copywriter', 'HR/Recruiter',
       'Support', 'SysAdmin', 'Security Specialist',
       'СTO, Director of Engineering, Program Director, CEO, (co-)founder',
       'Customer Success', 'DBA', 'Technical writer', 'ERP/CRM',
       'Hardware Engineer', 'Legal'], dtype=object)

In [37]:
position_to_compare = ['Data Science, Machine Learning, Big Data', 'Analyst (Business, Data, System)', 'Marketing, SEO, Copywriter', 'Designer / Artist (Graphic, UX/UI, Game, Artist, Sound etc.)']

In [38]:
filtered_df = df[df['Оберіть вашу посаду'].isin(position_to_compare)]

In [39]:
pivot_job = filtered_df.pivot_table(values=['Зарплата у $$$ за місяць, лише ставка після сплати податків'],
                   index=['Оберіть вашу посаду'],
                   columns=['Ваш тайтл'],
                   aggfunc='median')
pivot_job.style.background_gradient().format('{:.0f}')

Найбільш цікавим напрямком з точки зору зарплатні є Data Science, Machine Learning, Big Data

Який середній вік фахівців, що працюють в IT по кожному тайтлу? Який максимальний та мінімальний вік?

In [32]:
df.groupby('Ваш тайтл', observed=False)['Ваш вік'].describe()

                 count       mean       std   min   25%   50%   75%   max
Ваш тайтл
Intern/Trainee   240.0  25.600000  6.700278  18.0  20.0  23.0  29.0  50.0
Junior          2316.0  26.301382  5.763580  16.0  22.0  25.0  30.0  55.0
Немає тайтлу     571.0  29.302977  6.422628  14.0  25.0  28.0  33.0  58.0
Middle          4710.0  28.366030  5.701482  17.0  24.0  27.0  32.0  63.0
Senior          3400.0  31.348529  5.436358  17.0  27.0  31.0  35.0  57.0
Tech Lead        430.0  32.639535  5.666967  21.0  29.0  32.0  36.0  56.0
Team Lead        883.0  31.249717  5.201080  20.0  27.0  31.0  34.0  56.0
Architect        140.0  34.607143  5.642460  24.0  30.0  34.0  38.0  50.0
Head             250.0  32.332000  5.406171  20.0  29.0  32.0  35.0  49.0
Manager          375.0  31.592000  5.617147  19.0  28.0  31.0  35.0  55.0

Середній вік спеціалістів в межах 25 - 34 років. Посади від рівня senior обіймають фахівці з середнім віком від 31 до 34 років. Найстарший середній на позиції midle - 63 роки. Цікаво, що мінімальний вік зустрічається досить юний - 14 років, також привертають увагу 17 річні middle та senior фахівці, можна припустити що це аномалії в даних.

У яких фахівців більша зарплата, у тих що використовують мову програмування чи ні?

In [45]:
(
    df.groupby('Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?')
    ['Зарплата у $$$ за місяць, лише ставка після сплати податків'].median()
)

Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?
Ні, не використовую    1907.5
Так, використовую      2800.0
Name: Зарплата у $$$ за місяць, лише ставка після сплати податків, dtype: float64

In [48]:
round((2800-1907.5)/1907.5*100)

47

Медіанна зарплата вища на 47 % у фахівців, які використовують мову програмування відносно фахівціів, що не використовують жодну мову програмування.

На якій мові прогамування працює найбільше junior спеціалістів?

In [60]:
juniors_programmers = (
    df[(df['Ваш тайтл'] == 'Junior') & 
       (df['Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?'] == 'Так, використовую')]
)

In [61]:
juniors_programmers.groupby('Основна мова програмування').size().sort_values(ascending=False)

Основна мова програмування
Python                                     143
JavaScript                                  59
SQL                                         38
Java                                        35
C# / .NET                                   21
TypeScript                                  14
Інша мова                                   13
PHP                                          7
Scala                                        4
Не можу обрати одну основну мову             4
Ruby                                         3
Kotlin                                       2
Go                                           2
Мови розробки БД (PL/SQL, Transact-SQL)      2
C++                                          1
Perl                                         1
Salesforce Apex                              1
Swift                                        1
Groovy                                       1
R                                            1
dtype: int64

Найбільше спеціалістів рівня junior працює на мові прогамування python

In [62]:
juniors_not_programmers = (
    df[(df['Ваш тайтл'] == 'Junior') & 
       (df['Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?'] == 'Ні, не використовую')]
    
)

Скільки всього джуніорів серед фахівців, що використовують програмування та ні?

In [71]:
print(f'Джуніори, що використовують програмування - {juniors_programmers.shape[0]}\n'
     f'Джуніори, що не використовують програмування - {juniors_not_programmers.shape[0]}')

Джуніори, що використовують програмування - 353
Джуніори, що не використовують програмування - 608

В спеціальностях, що не потребують іикористання мов програмування більше спеціалістів початкового рівня